/* 
 * ===================================
 * Reset.
 * ===================================
 */
html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
}

* {
    background-color: rgb(41, 41, 41);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: white;
    max-width: 1800px;
}

/* 
 * ===================================
 * Header/Nav
 * ===================================
 */

 .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }

 #mkt, #criativo {
     font-size: 4rem;
     max-width: 350px;
     font-family: 'Poppins', sans-serif;
 }

 #mkt {
     margin-bottom: -25px;
 }

 .items ul{
     display: flex;
     flex-direction: row;
     list-style-type: none;    
 }
 
 .item a{
    font-family: 'Poppins', sans-serif;
     color: white;
     font-size: 2rem;
     padding: 10px;
     margin-right: 20px;
 }

 /* 
 * ===================================
 * Header/Nav
 * ===================================
 */

 .main {
    margin-top: -20px;
 }

 .section {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
 }

    .first-div {
     font-size: 20px;
     display: flex;
     flex-direction: column;
     gap: 32px;
    }
 
    #subscribe {
     color: rgba(161, 0, 113, 0.945);
 }
    
    #newslatter {

    }
    
